.contact-container{
    display: flex;
    justify-content: center;
}
.contact{
    display: flex;
    justify-content: center;
    width: 90%;
}
.info{
    width: 60%;
    padding: 3%;
}
.map{
    width: 40%;
    padding: 3%;
}
.custom-button{
    width: 150px;
    height: 50px !important;
}
.button-container{
    display: flex;
    justify-content: flex-end;
}
.bold{
    font-weight: bold;
}