<div class="contact-container">
    <div class="contact">
        <div class="info">
            <h2> Contact Us: </h2>
            <label for="name">Name:  </label> <input type="text" name="name" id="name">
            <label for="email">email:  </label> <input type="text" name="email" id="email">
            <label for="ph-number">Phone number:  </label> <input type="text" name="ph-number" id="ph-number">
            <label for="country">Country:  </label>
                <select  name="country" id="country">
                    <option value="1"> Armenia </option>
                    <option value="1"> USA </option>
                    <option value="1"> UK </option>
                    <option value="1"> Russia </option>
                </select>
            <label for="message">Message:  </label> <textarea name="message" id="message"> </textarea>

            <div class="input-group button-container">
                <div class="input-group-button">
                    <input type="submit" class="button custom-button" value="Submit">
                </div>
            </div>
        </div>
        <div class="map">
            <h2> Our Address: </h2>
            <p class="bold"> Space Needle </p>
            <p> 400 Broad St, Seattle, WA 98109, <span class="bold"> USA  </span></p>
            <iframe
                    width="400"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDe2v-k2sZy5RmGm5zrprZcEzYAscjc_gQ
    &q=Space+Needle,Seattle+WA" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
